/* Universal styling */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "IBM Plex Sans", Times, serif;
}

body {
  margin: 0;
  padding: 0;
}

.shadow {
  border-radius: 30px;
  box-shadow: 10px 10px 5px gray;
}
/* About Me */

#about img {
  height: 300px;
  width: 300px;
}

/* Goals */

#goals img {
  height: 300px;
  width: 300px;
}

/* Icon */

.fab, .fas {
  font-size: 50px;
}

/* Intrests */

#intrests-container img {
  height: 150px;
  width: 200px;
}