/* Universal styling */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "IBM Plex Sans", Times, serif;
}

.shadow {
  border-radius: 40px;
  box-shadow: 10px 10px 5px gray;
}
/* About Me */

#about img {
  height: 300px;
  width: 300px;
}

/* Goals */

#goals img {
  height: 300px;
  width: 300px;
}